* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.greeting {
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid;
}

.todolist {
  padding: 20px;
  margin: 20px 60px;
  background-color: salmon;
}

.todolisttitle {
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed;
  margin-bottom: 10px;
}

.todoitem {
  padding: 15px;
  margin: 5px;
  background-color: whitesmoke;
}

.jokes {
  border-top: 2px solid salmon;
  display: flex;
}